**/*.rs.bk

/reciever_rust/target/
/reciever_rust/Cargo.lock
/reciever_rust.cargo/

/sender_rust/target/
/sender_rust/Cargo.lock
/sender_rust.cargo/


/reciever_python/__pycache__/
/sender_python/__pycache__/
